{% extends 'layout.twig' %}

{% block body %}

{% if severity == 'success' %}
  <style>
    .msg {
        border: 1px solid green;
        background-color: lightgreen;
        border-radius: 8px;
        padding: 8px;
    }
  </style>
{% endif %}

{% if level == 'error' %}
  <style>
    .msg {
      border: 1px solid red;
      background-color: mistyrose;
      border-radius: 8px;
      padding: 8px;
    }
  </style>
{% else %}
  <style>
    .msg {
      border: 1px solid navy;
      background-color: powderblue;
      border-radius: 8px;
      padding: 8px;
    }
  </style>
{% endif %}

  <div class="msg">
    <h1>
      {% if level == 'success' %}
        Operação Bem sucedida!
      {% elseif == 'error' %}
        erro
      {% else %}
        Informação
      {% endif %}
    </h1>
    <span> {{message}} </span>
  </div>

  <div>
    <h2>Cookies da Página</h2>
    <pre>{{cookie}}</pre>
  </div>

  <script>
    const displayCookies = document.getElementById('display-cookies')
    const docCookie = document.cookie
    if(docCookie)  {
      displayCookies.style.Visibility = 'visible'
      const cookies = document.getElementById('cookies')
      cookies.textContent = docCookie
    }
  </script>

 
{% if redirectUrl %}
  <script>
    setTimeout( () => window.location.href = '{{redirectUrl}}', 3000)
  </script>
{% endif %}

{% endblock %}
