{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>

  <ul>
    <li> <a href="/users/form"> Cadastro de Usuário</a> </li>
    <li> <a href="/users/logout"> Sair </a> </li>
  </ul>


  <p>Welcome to {{title}}</p>
{% endblock %}
